* {
  font-family: $font-stack;
  line-height: 1.5;
  color: $type-grey;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

a, div, p, h1 {
  font-family: $font-stack;
  color: $type-grey;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  margin: 20px 0 30px;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.diptych {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.no-underline {
  text-decoration: none;
}

form {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

input,
textarea {
  display: block;

  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  margin: 0 0 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

input[type="submit"] {
  background: $blue;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

label {
  color: $blue;
  font-size: 11px;
  font-weight: bold;
}
